<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>

    .custab {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 5% 0;
        box-shadow: 3px 3px 2px #ccc;
        transition: 0.5s;
    }

    .custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }
</style>


<div class="container">
    <div class="row col-md-8 col-md-offset-2 custyle">
        <center><h1>Client Records</h1></center>
        <br>
        <center>
        <h3>Total Client:{{ cdata }}</h3></center>

            <table class="table table-striped custab">
                <thead>

                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Phone number</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for i in data %}
                <tr>
                    <td>{{ i.username }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.gender }}</td>
                    <td>{{ i.phonenumber }}</td>
                    <td class="text-center">

                        <a class='btn btn-info btn-xs' href="{% url 'edit-data' pk=i.id %}"><span
                            class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a class="btn btn-danger btn-xs" href="{% url 'delete-data' pk=i.id %}">
                        <span class="glyphicon glyphicon-remove"></span> Del</a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>

    </div>
</div>
